.footer{
    background: url('../images/mobile-footer-bg.svg') no-repeat;
    background-size: 100%;
    position: relative;
    margin-top: 4rem;

    @include breakpoint(medium){
        background: url('../images/footer-bg.svg') no-repeat;
        background-size: 100%;
        margin-top: 6rem;
    }
    @include breakpoint(large){
        margin-top: 8rem;
    }

    @include breakpoint(xlarge){
       
    }

    .container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        padding-top: 5.5rem;
        padding-bottom: 2rem;


        
        @include breakpoint(small){
            padding-top: 7.5rem;
        }
        @include breakpoint(medium){
            padding-bottom: 2rem;
        }

        @include breakpoint(large){
            padding-top: 10.5rem;
            padding-bottom: 4rem;
        }
        @include breakpoint(xlarge){
            padding-top: 13.5rem;
            padding-bottom: 4rem;
        }
    }

    &__left{
        // grid-column: 1/2;

        .thats-all{
            font-weight: 1.25rem;
            font-weight: 500;
            color: #efa500;
            line-height: 1.4;
            
            & > p{
                margin: 0;
            }

            @include breakpoint(xsmall){
                font-size: 1.5rem;
            }
            @include breakpoint(small){
                font-size: 1.1rem;
            }
            @include breakpoint(medium){
                font-size: 1.5rem;
            }
            @include breakpoint(large){
                font-size: 1.7rem;
            }
        }

        .dont-hesitate{
            margin: 0.8rem 0 1.5rem;
            font-size: 0.75rem;
            color: #b6b9d8;
            line-height: 1.8;

            @include breakpoint(xsmall){
                font-size: 0.625rem;
            }
            @include breakpoint(small){
                font-size: 0.52rem;
                width: 81%;
            }
            @include breakpoint(medium){
                font-size: 0.625rem;
                width: 78%;
            }
            @include breakpoint(large){
                font-size: .7rem;
                width: 78%;
            }
        }

        
    }

    &__center{
        // grid-column: 2/3;
        
        .sub-title{
            margin-bottom: 0.75rem;
            font-size: 0.75rem;
            font-weight: 500;
            color: #b37b00;
        }
        .contact{
            margin-bottom: 0.9375rem;
            font-size: 0.8125rem;

           

            a{
                color: #b6b9d8;
            }
        }

        .social{
            a {
               &:not(:last-child) {
                   margin-right: 0.625rem;
               }
                img{
                    max-width: 20px;

                    @include breakpoint(small){
                        width: 15px;
                    }
                }
            }
        }

        .copyright{
            font-size: 0.5625rem;
            width: 60%;
            margin-top: 1.9rem;
            color: color(lightBluee);

            @include breakpoint(small){
                font-size: 0.4625rem;
                width: 50%;
            }
            @include breakpoint(medium){
                font-size: 0.525rem;
                
            }
        }
    }

    &__right{
        position: absolute;
        right: 0;
        max-width: 44vw;
        bottom: 3rem;

        @include breakpoint(small){
            max-width: 26vw;
            bottom: 2rem;
        }
        @include breakpoint(medium){
            max-width: 25vw;
        }
        @include breakpoint(large){
            right: 0.375rem;
            bottom: 4.75rem;
        }
        @include breakpoint(xlarge){
            right: 1.875rem;
            bottom: 3.5625rem;
        }

        img{
            width: 100%;
        }
    }
}